@use './../../../dashboard';

.Form
{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: calc(dashboard.$padding * 4);
    
    .heading
    {
        margin-top: 3rem;
        margin-bottom: 0;
        font-size: 1.25rem;
        font-weight: bold;
    }

    &.saved
    {
        .FormField
        {
            animation: saveForm 0.5s ease-out;
        }
    }

    &:first-of-type
    {
        .heading
        {
            margin-top: 0;  
        }
    }

    .LinkButton
    {
        @media only screen and (min-width: 768px)
        {
            width: 200px;
            align-self: flex-end;
        }
    }

    .FormField
    {
        display: flex;
        justify-content: stretch;
        position: relative;
        align-items: stretch;
        background: dashboard.$light;
        box-sizing: border-box;
        min-height: 2rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        border-radius: dashboard.$border-radius;
        margin: 0;

        &.textareaField
        {
            flex-direction: column;

            label
            {
                flex-basis: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.075);
                border-right: none;
            }
            
            @media only screen and (min-width: 768px)
            {            
                flex-direction: row;

                label
                {
                    flex-basis: 200px;
                    border-right: 1px solid rgba(0, 0, 0, 0.075);
                }
            }
        }

        label
        {
            flex-basis: 150px;
            font-size: 1rem;
            padding: 0.75rem 0 0.75rem 0.75rem;
            border-right: 1px solid rgba(0, 0, 0, 0.075);
            
            @media only screen and (min-width: 768px)
            {            
                flex-basis: 200px;
            }
        }

        input,
        textarea
        {
            flex-grow: 2;
            font-size: 1rem;
            padding-right: 0.75;
            padding-left: 0.75rem;
            outline: none;
            border: none;
            background: transparent;

            &:focus
            {
                background: rgba(0, 0, 0, 0.05);
            }
        }

        textarea
        {
            font-size: 1rem;
            font-family: dashboard.$font-family;
            line-height: dashboard.$line-height;
            min-height: 150px;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            resize: none;

            &.resize-vertical
            {
                resize: vertical;
            }
            &.resize-horizontal
            {
                resize: horizontal;
            }
            &.resize-both
            {
                resize: both;
            }
        }
    }
}

@keyframes saveForm {
    0%
    {
        background: transparent;
    }
    70%
    {
        background: rgba(dashboard.$success, 0.25);
    }
    100%
    {
        background: transparent;
    }
}