@use './../../dashboard';

.Layout
{
    background: dashboard.$lightgrey;
    min-height: 100vh;
    display: flex;
    justify-content: center;
 
    .content
    {
        padding: dashboard.$outer-padding;
        flex-basis: 720px;
        padding-top: calc(50px + 1rem);

        .page-title
        {
            margin-top: calc(dashboard.$padding / 2);
            margin-bottom: dashboard.$padding;

            .go-back
            {
                margin-right: calc(dashboard.$padding / 2);
                cursor: pointer;
            }
        }

        .link-list
        {
            display: flex;
            flex-direction: column;
            gap: dashboard.$padding;

            @media only screen and (min-width: 768px)
            {
                flex-direction: row;
            }
        }
    }
}


