@use './../../../dashboard';

.Button,
.LinkButton,
.FloatingButton
{
    align-items: center;
    background: dashboard.$light;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    border-radius: dashboard.$border-radius;
    box-sizing: border-box;
    color: dashboard.$dark;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    justify-content: center;
    line-height: dashboard.$line-height;
    margin: 0;
    min-height: 2rem;
    padding: 0.75rem 1.25rem;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    vertical-align: baseline;
    min-width: 50px;

    &.fluid
    {
        width: 100%;
    }

    &.transparent
    {
        background: transparent;
        color: dashboard.$dark; 
    }

    &.primary
    {
        background: dashboard.$primary;
        color: dashboard.$light;

        &:active,
        &:hover
        {
            background: rgba(dashboard.$primary, 0.75);
            color: dashboard.$light;
        }
    }

    &.secondary
    {
        background: dashboard.$secondary;
        color: dashboard.$light;

        &:active,
        &:hover
        {
            background: rgba(dashboard.$secondary, 0.75);
            color: dashboard.$light;
        }
    }

    &.success
    {
        background: dashboard.$success;
        color: dashboard.$light;

        &:active,
        &:hover
        {
            background: rgba(dashboard.$success, 0.75);
            color: dashboard.$light;
        }
    }

    &.warning
    {
        background: dashboard.$warning;
        color: dashboard.$dark;

        &:active,
        &:hover
        {
            background: rgba(dashboard.$warning, 0.75);
            color: dashboard.$dark;
        }
    }

    &.error
    {
        background: dashboard.$error;
        color: dashboard.$light;

        &:active,
        &:hover
        {
            background: rgba(dashboard.$error, 0.75);
            color: dashboard.$light;
        }
    }

    .icon
    {
        margin: -1px 7px 0 0;
    }

    &:hover,
    &:focus
    {
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }

    &:hover
    {
        transform: translateY(-1px);
    }

    &:active
    {
        background: rgba(dashboard.$secondary, 0.5);
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.05) 0 2px 4px;
        transform: translateY(1px);
    }

}

.FloatingButton
{
    position: absolute;
    z-index: 500;
    bottom: dashboard.$outer-padding;
    right: dashboard.$outer-padding;
    border-radius: 50%;
    min-width: inherit;
    padding: 0 !important;
    height: 4rem;
    width: 4rem;
    font-size: 1.5rem;
}
