@use './../../../dashboard';

.FullscreenWindow
{
    font-family: dashboard.$font-family;
    font-weight: dashboard.$fontWeight-regular;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: dashboard.$lightgrey;

    .box
    {
        min-width: 350px;
        max-width: 450px;
        border-radius: dashboard.$border-radius;
        box-shadow: 0 2px 2px rgb(204 197 185 / 50%);
        background: dashboard.$light;
        color: dashboard.$dark;
        margin: 0 calc(dashboard.$padding * 4) calc(dashboard.$padding * 2);
        
        .content
        {
            padding: dashboard.$outer-padding;

            .meta
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                gap: 1em;

                .icon
                {
                    margin-bottom: 10px;
                    font-size: 6em;

                    color: dashboard.$success;

                    &.warning
                    {
                        color: dashboard.$warning;
                    }

                    &.error
                    {
                        color: dashboard.$error;
                    }
                }

                .info
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    max-height: 300px;
                    min-height: 100px;

                    .title
                    {
                        text-align: right;
                        margin: 0;
                        font-size: dashboard.$font-size-title-small;
                        font-weight: dashboard.$fontWeight-medium;
                    }

                    .message
                    {
                        text-align: right;
                        line-height: dashboard.$line-height;
                        margin-top: 0.5em;
                    }
                }
            }
        }

        .interaction
        {
            padding: 0;
            padding-top: dashboard.$padding;
            position: relative;
            text-align: right;
            border-top: 1px solid dashboard.$lightgrey;
            display: flex;
            gap: calc(dashboard.$padding * 1.5);

            .LinkButton
            {
                flex-basis: 100px;
                flex-grow: 1;
            }
        }
    }
}
