$light: #F5F1F2;
$dark: #1A1619;
$secondary: #0990B9;
$primary: #0C425F;
$darkgrey: #B0AEB7;
$lightgrey: #E8DED5;

$link-inactive: #17617F;

/*
    5E3F23
    F68D4A
    FAB378
    FBC697
    84B1C2
    17617F
*/

$success: #14A44D;
$warning: #ffd43b;
$error: #D0342C;

$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$fontWeight-bold: 600;
$fontWeight-medium: 500;
$fontWeight-regular: 300;
$font-size-title: 2.25em;

$padding: 0.5em;
$outer-padding: 1em;

$line-height: calc($padding * 2.5);

$border-radius: 0.25em;
